/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    color: orange;
    font-family: Rochester, cursive;
    font-size: 30px;
    letter-spacing: 2.5px
}

li {
    color: #008CBA;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

ul {
    background-color: cornsilk;
}

.card{
  background-color: #FFF;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}


.button{
  font-size: 20px;
  color: #FFF;
  outline: none;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
}

.button:active{
  box-shadow: 1px 1px 1px #90A4AE;
}

.textbackground span:hover {
  background-color:cornsilk;
}

.completed-todo{
  text-decoration: line-through;
}

span{
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

#new-todo-block{
  margin: 20px auto 0px auto;
}

#add-new-todo-button{
  display: block;
  background-color: #03A9F4;
  margin-top: 10px;
}