<h1>Camping Prep</h1>
      
<ul style="list-style-type:none">
  <li><span><input type="checkbox" name="camping" value="trail"><a href="show/1.html">Pick trails</a></input></span></li>
  <li><span><input type="checkbox" name="camping" value="basics"><a href="show/2.html">Pack basics: tent, pack, sleeping bag, sleeping pad, bladder, poles</a></input></span></li>
  <li><span><input type="checkbox" name="camping" value="food"><a href="show/3.html">Buy food: bars or meals</a></input></span></li>
  <li><span><input type="checkbox" name="camping" value="shoes"><a href="show/4.html">Pack: Boots or sneakers</a></input></span></li>
  <li><span><input type="checkbox" name="camping" value="shoes"><a href="show/5.html">Pack: socks!!</a></input></span></li>
  <li><span>
    <div id="new-todo-block">
      <input type="text" id="new-todo-description" placeholder="Add new to do">
      <input type="submit" value="Add new to do" id="add-new-todo-button"></span>
    </div>
  </li>
</ul>
