<h1>Camping Prep</h1>
    <h3 class="textbackground"><span>Pick trails</span></h3>  
      
    <input type="text" placeholder="Edit To Do">
    <input type="Submit" value="Change To Do">
      
    <br>
    <br>
      
    <a href="index.html">See Entire List</a>
      